<div class="container mb-4">
  <div class="row">
    <p class="h3">top index</p>
  </div>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <button type="button" class="btn mr-2 btn-outline-primary">Primary</button>
    <button type="button" class="btn mr-2 btn-outline-secondary">Secondary</button>
    <button type="button" class="btn mr-2 btn-outline-success">Success</button>
    <button type="button" class="btn mr-2 btn-outline-danger">Danger</button>
    <button type="button" class="btn mr-2 btn-outline-warning">Warning</button>
    <button type="button" class="btn mr-2 btn-outline-info">Info</button>
  </div>
</div>
