.container.pt-4
  .row
    h1
      | Bootstap Sample
    .card-group
      .card
        svg.bd-placeholder-img.card-img-top[width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"]
          title
            | Placeholder
          rect[width="100%" height="100%" fill="#868e96"]
          text[x="50%" y="50%" fill="#dee2e6" dy=".3em"]
            | Image cap
        .card-body
          h5.card-title
            | Card title
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          p.card-text
            small.text-muted
              | Last updated 3 mins ago
      .card
        svg.bd-placeholder-img.card-img-top[width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"]
          title
            | Placeholder
          rect[width="100%" height="100%" fill="#868e96"]
          text[x="50%" y="50%" fill="#dee2e6" dy=".3em"]
            | Image cap
        .card-body
          h5.card-title
            | Card title
          p.card-text
            | This card has supporting text below as a natural lead-in to additional content.
          p.card-text
            small.text-muted
              | Last updated 3 mins ago
      .card
        svg.bd-placeholder-img.card-img-top[width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"]
          title
            | Placeholder
          rect[width="100%" height="100%" fill="#868e96"]
          text[x="50%" y="50%" fill="#dee2e6" dy=".3em"]
            | Image cap
        .card-body
          h5.card-title
            | Card title
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
          p.card-text
            small.text-muted
              | Last updated 3 mins ago
  .mt-4
    .row
      button.mr-2.btn.btn-outline-primary[type="button"]
        | Primary
      button.mr-2.btn.btn-outline-secondary[type="button"]
        | Secondary
      button.mr-2.btn.btn-outline-success[type="button"]
        | Success
      button.mr-2.btn.btn-outline-danger[type="button"]
        | Danger
      button.mr-2.btn.btn-outline-warning[type="button"]
        | Warning
      button.mr-2.btn.btn-outline-info[type="button"]
        | Info
      button.mr-2.btn.btn-outline-light[type="button"]
        | Light
      button.btn.btn-outline-dark[type="button"]
        | Dark
